/commit_metadata
/patch_cache
/repo_cache
malicious_commit_analysis.log
commits_with_blame_data.csv
.DS_Store
/__pycache__
/vulnerability_patches
/vulnerability_intro_metadata
/benign_commits
/benign_patches
/tokenized_vuln_intro_commits
/tokenized_benign_commits
/vector_benign_commits_dir
/vector_vuln_intro_commits_dir
word2vec_model.model*
/padded_benign_commits
/padded_vuln_intro_commits
